@charset "utf-8";
#header {position:fixed;}
body {
/* IE and Edge */ 
/*-ms-overflow-style: none; */
/* Firefox */
/*scrollbar-width: none;*/
} 
body::-webkit-scrollbar {
/* Chrome, Safari, Opera*/
/*display: none; */
}

/* 메인헤더 */
/* #header {background:rgba(0,0,0,0.45);border:0;}
#header.on{background-color: #000;}
#header.drop{background:#000;}
#header.onn{background:#000;} */

/* #header .header_logo a {background:url('../../images/common/logo_xxx_gold.png') center no-repeat;background-size:cover;} */
/* #header .gnb_wrap .gnb_depth1 > a{color:#fff;} */
/* #header .btn_menu .line_menu {display: block;height: 3px;width: 32px;left: 50%;margin-left: -16px;background: #fff;position: absolute;transition: all 0.25s ease-out;} */
/* #header .util li.bar:before{background: #fff;opacity:0.2;} */
/* #header .util li a{color: #fff;} */
#container{padding-top: 0;min-height: 100vh;box-sizing: border-box;word-break: keep-all;}

.section {box-sizing:border-box;position:relative;}
.section .bg{width: 100%; display: block;}
/*section01*/
.section01 {padding-top:0;background:#ddd;}
.main_banner_wrap {position:relative;height:100%;}
.main_banner_wrap .main_banner_arrow {position:absolute;top:50%;z-index:10;width:141px;color:#fff;font-size:14px;font-family:"Spoqa Han Sans Neo" !important;font-weight:300;opacity:0.8;}
.main_banner_wrap .main_banner_arrow.prev {left:0;text-align:right;}
.main_banner_wrap .main_banner_arrow.next {right:0;text-align:left;}
.main_banner_wrap .main_banner_arrow em {position:relative;display:block;margin-top:14px;}
.main_banner_wrap .main_banner_arrow em:after {content:'';width:141px;height:19px;display:block;}
.main_banner_wrap .main_banner_arrow.prev em{background:url('../../images/main/btn_slide_prev.png');}
.main_banner_wrap .main_banner_arrow.next em{background:url('../../images/main/btn_slide_next.png');}
.main_banner_wrap .slick-dots{display:none !important;}

.main_banner {height:100%;position:relative;}

.main_banner li.mb_item01{background:url('../../images/main/main_banner01_fix.jpg');background-size:cover;background-position:center;}
.main_banner li.mb_item02{background:url('../../images/main/main_banner01_fix.jpg');background-size:cover;background-position:center;}
.main_banner li.mb_item03{background:url('../../images/main/main_banner01_fix.jpg');background-size:cover;background-position:center;}

.main_banner li.slick-slide {height:100vh !important;color:#fff;padding-top:97px;box-sizing:border-box;}
.main_banner li.slick-slide .inner_sol{display:flex; align-items:center; height: 100%;}
.main_banner li.slick-slide .inner_sol .textbox .tit{font-size: 60px; font-weight: 600;}
.main_banner li.slick-slide .inner_sol .textbox .sub{font-size: 25px; font-weight: 300; padding-top: 10px;opacity:0;}
.main_banner li.slick-slide .inner_sol .textbox{width: 100%; text-align: center;}
.main_banner li.slick-slide .inner_sol .textbox .bar{display:block;margin:30px auto;width:1px;height:54px;background:rgba(255,255,255,0.2);}

.main_banner li.slick-slide.slick-active .inner_sol .textbox .tit{-webkit-animation: ts01 0.8s ease-in-out;}
.main_banner li.slick-slide.slick-active .inner_sol .textbox .sub{opacity:1;}



.banner_centrol {position:absolute;bottom:70px;left:0;z-index:10;width:100%;}
.banner_centrol .inner_sol {display: flex;justify-content: flex-end;align-items: center;}
.banner_centrol .ctr {display:flex;}
.banner_centrol .ctr .slick-arrow {}
.banner_centrol .ctr .prev {text-indent: -999999px;font-size:0 ;}
.banner_centrol .ctr .prev em{display: block; width: 5px; height: 10px; background: url('../../images/main/slide_prev.png');}
.banner_centrol .ctr .next {text-indent: -999999px;font-size: 0;}
.banner_centrol .ctr .next em {display: block; width: 5px; height: 10px;background: url('../../images/main/slide_next.png');}
.banner_centrol .ctr .btn_ctr {}
.banner_centrol .ctr .btn_ctr a {display:none;color:#fff;text-indent: -999999px;font-size: 0;margin: 0 7px;}
.banner_centrol .ctr .btn_ctr a.stop em{display: block; width: 7px; height: 10px;background: url('../../images/main/slide_stop.png');}
.banner_centrol .ctr .btn_ctr a.active {display:block;}

.banner_centrol .pro-num {color:#fff;font-family:"Spoqa Han Sans Neo" !important;margin: 0 20px;font-size:12px;}
.banner_centrol .pro-num .now{opacity:1;}
.banner_centrol .pro-num span{opacity:0.52;}
.banner_centrol .pro-bar {width:150px;height:2px;background:rgba(255,255,255,0.3);}
.banner_centrol .pro-bar em {display:block;width:50px;height:100%;background:rgba(255,255,255,0.8);transition: all .6s;}

.slide_ind{position: absolute;bottom: 45px; left: 50%; margin-left: -125px;}
.slide_ind p {display: inline-block;font-family:'Roboto';font-size: 27px; font-weight: 800; color: #fff; vertical-align: middle;}
.slide_ind .grp{display: inline-block; /*width: 164px;*/width: 205px; height: 3px; background-color: rgba(255,255,255,0.4);vertical-align: middle; position: relative; margin:0 10px;}

.slide_ind .grp span{position: absolute; display: block; width: 41px; background-color: #fff;transition:all .6s; height: 3px; left: 0; top: 0; }

.icon_scroll {position:absolute;bottom:62px;left:50%;transform: translate(-50%, 0);display:inline-block;z-index:15;}
.icon_scroll em{display:block;width:1px;height:5px;background-color:#fff;position:absolute;left:50%;top:43px;-webkit-animation: icon_scroll 1.2s ease infinite;}


/* x_wrap */
.x_wrap{padding: 33px 0;background:#000;}
.x_wrap .x_wrap_inner{width:1968px; padding:0 0.5%; box-sizing:border-box;}
.x_wrap em{display:block;width:100%;height:38px;background: url('../../images/main/x_linefix.png'); background-size:auto 100%; background-repeat:no-repeat;
/*-webkit-animation: linearani 20s infinite linear;*/
}


/*section02*/
.section02{margin: 100px auto;}
.section02 .inner_sol{}
/* .section02 .inner_sol .sub_tit{text-align:center;font-size:14px;font-family:"Poppins" !important; font-weight: 400; color: #4c4c4c;} */
.section02 .inner_sol .tit{text-align:center;font-size:30px;font-family:"Copperplate Gothic" !important; font-weight: 600; color: #111;padding-top:30px;}
.section02 .slide{position:relative;}
.section02 .section02_slide_arrow{position: absolute;top: 50%;transform:translateY(-50%);z-index: 10;width: 23px;height: 45px;font-size:0;text-indent:-9999999px;}
.section02 .section02_slide_arrow em{display:block;width: 23px;height: 45px;}
.section02 .section02_slide_arrow.prev{left:0;}
.section02 .section02_slide_arrow.next{right:0;}
.section02 .section02_slide_arrow.prev em{background: url('../../images/main/section05_prev.png');}
.section02 .section02_slide_arrow.next em{background: url('../../images/main/section05_next.png');}

.section02 .inner_sol .product_list.pc_show{width:1491px;margin: 50px auto 0;}
.section02 .inner_sol .product_list li{float:left;width:calc(25% - 20px);margin: 0 20px;}
.section02 .inner_sol .product_list li > a{display:block;position:relative;}
.section02 .inner_sol .product_list li .img{padding: 80px 0 60px;border:1px solid #ddd;box-sizing:border-box;position:relative;overflow:hidden;}
.section02 .inner_sol .product_list li .img img{transition: all .22s ease-in-out;display:block;margin:0 auto;}
.section02 .inner_sol .product_list li .img .payment_box{position:absolute;bottom:-70px;width:100%;display:flex;justify-content: space-between;transition: all .22s ease-in-out;background:#3f3f3f;}
.section02 .inner_sol .product_list li .img .payment_box > span em{display:block;text-indent:-999999px;font-size:0;position: absolute;top: 50%;left: 50%;    transform: translate(-50%, -50%);}
.section02 .inner_sol .product_list li .img .payment_box > em{width:1px;height:34px;background:#262626;margin-top:18px;}
.section02 .inner_sol .product_list li .img .payment_box .btn_cart, .section02 .inner_sol .product_list li .img .payment_box .btn_card{display:block;height:70px;width:50%;position:relative;}
.section02 .inner_sol .product_list li .img .payment_box .btn_cart em{background:url('../../images/common/cart01.png');width:31px;height:25px;}
.section02 .inner_sol .product_list li .img .payment_box .btn_card em{background:url('../../images/common/card01.png');width:30px;height:21px;}

.section02 .inner_sol .product_list li .con{padding-top: 30px;}
.section02 .inner_sol .product_list li .con .product_tit{font-size:17px;color:#111;font-weight:600;font-family:"Spoqa Han Sans Neo" !important;}
.section02 .inner_sol .product_list li .con .product_price{font-family:"Spoqa Han Sans Neo" !important;font-weight:400;color:#222;}
.section02 .inner_sol .product_list li .con .product_price span{display:inline-block;}
.section02 .inner_sol .product_list li .con .product_price span + span{margin-left:-6px;}
.section02 .inner_sol .product_list li .con .product_price .percent{font-size: 16px;color:#44b87d;font-weight:600;}
.section02 .inner_sol .product_list li .con .product_price .percent:after{content:'';display:inline-block;width:1px;height:15px;background:#ddd;margin: 0 10px;vertical-align:middle;}
.section02 .inner_sol .product_list li .con .product_price .price{font-size: 16px;font-weight:600;}
.section02 .inner_sol .product_list li .con .product_price .unit{font-size: 15px;text-decoration:line-through;color:#b1b1b1;}
.section02 .inner_sol .product_list li .con .product_price .unit:before{content:'';display:inline-block;width:1px;height:15px;background:#ddd;margin: 0 10px;vertical-align:middle;}

.section02 .inner_sol .product_list li.hov .img{}
.section02 .inner_sol .product_list li.hov .img img{transform:scale(0.8); transition: all .22s ease-in-out;}
.section02 .inner_sol .product_list li.hov .img .payment_box{bottom:0px;}

.section02 .se02_dots_outer{display:none;}
.section02 .inner_sol .btn_viewmore_01{margin-top: 60px;}


/* subbanner */
.subbanner{background:#f6f6f6;padding:100px 0;}
.subbanner > .inner_sol{position:relative;}
.subbanner .banner_centrol{bottom:auto; top: 120px;right:200px;}
.subbanner .banner_centrol .inner_sol{margin-right:80px;}
.subbanner .banner_centrol .pro-num{color:#b6b6b6;font-size:24px;}
.subbanner .subbanner_slider .subbanner_item01{display:flex;justify-content:center;    align-items: center;}


.subbanner .sub_banner_arrow{position: absolute;top: 50%;transform:translateY(-50%);z-index: 10;width: 40px;height: 80px;font-size:0;text-indent:-9999999px;}
.subbanner .sub_banner_arrow em{display:block;width: 40px;height: 80px;}
.subbanner .sub_banner_arrow.prev{left:0;}
.subbanner .sub_banner_arrow.next{right:0;}
.subbanner .sub_banner_arrow.prev em{background: url('../../images/main/subbanner_prev.png') no-repeat; background-size: 100%;}
.subbanner .sub_banner_arrow.next em{background: url('../../images/main/subbanner_prev.png') no-repeat; background-size: 100%;transform:rotate(180deg);}
.subbanner .slick-dots{display:none !important;}

.subbanner .subbanner_slider .subbanner_item .txtbox{margin-left:80px;}
.subbanner .subbanner_slider .subbanner_item .txtbox .subtxt{font-size:20px;color:#999;letter-spacing:0.8em;}
.subbanner .subbanner_slider .subbanner_item .txtbox .maintxt{font-size:50px;font-weight:500;color:#222;font-family:"CormorantGaramond" !important;padding-top:20px;}
.subbanner .subbanner_slider .subbanner_item .txtbox .contentbox{padding-top:20px;}
.subbanner .subbanner_slider .subbanner_item .txtbox .contentbox li{font-size:20px;color:#666;padding-bottom:10px;}



/* addsection */
.addsection01{padding-top:100px;}
.addsection01 .inner_sol.pc_show ul{display:flex;justify-content: space-between;}
.addsection01 .inner_sol.pc_show ul > li{width:508px;height:650px;text-align:center;overflow:hidden;}
.addsection01 .inner_sol.pc_show ul > li > div{width:100%;height:100%;}
.addsection01 .inner_sol.pc_show ul > li .itembg{height:100%;
-webkit-transition: all 1s !important;
-moz-transition:all 1s !important;
-o-transition:all 1s !important;
transition:all 1s !important;
}
.addsection01 .inner_sol.pc_show ul > li .item01_bg{background:url('../../images/main/addsection01_img01.jpg');}
.addsection01 .inner_sol.pc_show ul > li .item02_bg{background:url('../../images/main/addsection01_img02.jpg');}
.addsection01 .inner_sol.pc_show ul > li .item03_bg{background:url('../../images/main/addsection01_img03.jpg');}
.addsection01 .inner_sol.pc_show ul > li .title{color:#fff;font-size:45px;padding-top: 530px;
-webkit-transition: all 0.5s !important;
-moz-transition: all 0.7s !important;
-o-transition: all 0.7s !important;
transition: all 0.7s !important;
}
.addsection01 .inner_sol.pc_show ul > li .con{opacity:0;
-webkit-transition: all 0.5s !important;
-moz-transition: all 0.7s !important;
-o-transition: all 0.7s !important;
transition: all 0.7s !important;
}
.addsection01 .inner_sol.pc_show ul > li .con p{font-size:20px;color:#fff;line-height:28px;padding:60px 0;}
.addsection01 .inner_sol.pc_show ul > li .btn_viewmore_02{background:#404040;}

.addsection01 .inner_sol.pc_show ul > li.on .itembg{background:rgba(0,0,0,0.7);}
.addsection01 .inner_sol.pc_show ul > li.on .title{padding-top:40%;}
.addsection01 .inner_sol.pc_show ul > li.on .con{opacity:1;}


/* addsection02 */
.addsection02{height:calc(100vh - 83px);background:#101010;margin:100px auto;}
.addsection02 iframe{overflow-x:hidden; overflow:auto; width:100%; min-height:calc(100vh - 85px);}



/*section03*/
.section03 .inner_sol{height:100%;position:absolute;left:50%;transform:translateX(-50%);display:flex;align-items:end;}
.section03 .inner_sol .btn_viewmore_02{margin-bottom: 100px;}

/*section04*/
.section04 .inner_sol{height:100%;position:absolute;left:50%;transform:translateX(-50%);display:flex;align-items:end;}
.section04 .inner_sol .btn_viewmore_02{margin-bottom: 100px;}

/*section05*/
.section05{margin-top:100px;padding: 100px 0 72px;background:url('../../images/main/section05_bg.jpg');}
.section05 .inner_sol .tit{text-align: center;font-size: 30px;font-family: "Copperplate Gothic" !important;font-weight: 600;color: #fff;}
.section05 .inner_sol .sub{text-align: center;font-size: 25px;color: #fff;padding-top:30px;}
.section05 .slide{position:relative;}
.section05 .section05_slide_arrow{position: absolute;top: 50%;transform:translateY(-50%);z-index: 10;width: 23px;height: 45px;font-size:0;text-indent:-9999999px;}
.section05 .section05_slide_arrow em{display:block;width: 23px;height: 45px;}
.section05 .section05_slide_arrow.prev{left:0;}
.section05 .section05_slide_arrow.next{right:0;}
.section05 .section05_slide_arrow.prev em{background: url('../../images/main/section05_prev.png');}
.section05 .section05_slide_arrow.next em{background: url('../../images/main/section05_next.png');}
.section05 .slide .sec05_sl_outer{width: 1491px;margin: 0 auto;}
.section05 .slide .sec05_sl_outer.pc_show li a{display:block;width: 233px;position:relative;}
.section05 .slide .sec05_sl_outer.pc_show li a .overbox{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);transition:all 0.3s 0.1s;opacity:0;}
.section05 .slide .sec05_sl_outer.pc_show li a .overbox i{position:absolute;top:50%;left:50%;width:73px;height:73px;background:url('../../images/main/sns_bg.png') center center no-repeat; display:inline-block;margin-top:-35px;margin-left:-35px;transition:all 0.3s 0.1s;}
.section05 .slide .sec05_sl_outer.pc_show li.bg a .overbox{opacity:1;}
.section05 .slide .sec05_sl_outer.pc_show li.bg a .overbox i{transform:rotate(360deg);}
.section05 .sns_linkwrap{margin-top: 66px;display: flex;justify-content: center;align-items: center;}
.section05 .sns_linkwrap > span{font-size: 18px; font-weight: 600; color: #fff;}
.section05 .sns_linkwrap > span:after{content:'';display:inline-block;width:114px;height:1px;background-color:#fff;margin: 0 60px;vertical-align:middle;}
.section05 .sns_linkwrap ul li{float:left;}
.section05 .sns_linkwrap ul li a{display:inline-block;width:30px;height:30px;}
.section05 .sns_linkwrap ul li a.icon_sns_i{margin-right:30px;}
.section05 .sns_linkwrap ul li a.icon_sns_f{margin-right:30px;}

	
		



/*모바일 브라우저 바 이슈 */
.section.class { 
	height: 100vh ; height: var(--vh, 1vh) * 100;
} 
.class2 { 
	height: calc(100vh - 80px); 
	height: calc(var(--vh, 1vh) * 100 - 80px)
}


@media screen and (max-width:1600px) {
/* addsection01 */
.addsection01 ul > li{width:100%;}
}

@media screen and (max-width:1024px) {
#header .header_logo a{background: url('../../images/common/logo_xxx_tm.png') center no-repeat;background-size:100% auto;}

/* section01 - tab */
.main_banner li.slick-slide{padding-top: 82.5px;}
.main_banner li.mb_item01{background:url('../../images/main/main_banner01_t_fix.jpg');background-size:cover;background-position:center;}
.main_banner li.mb_item02{background:url('../../images/main/main_banner01_t_fix.jpg');background-size:cover;background-position:center;}
.main_banner li.mb_item03{background:url('../../images/main/main_banner01_t_fix.jpg');background-size:cover;background-position:center;}
.main_banner li.slick-slide .inner_sol .textbox .bar{height:25px;}

.main_banner_wrap .main_banner_arrow{display:none !important;}
.icon_scroll{display:none;}
.banner_centrol .ctr{display:none;}


/* x_wrap */
.x_wrap{padding: 3vw 0;}
.x_wrap .x_wrap_inner{width:100%;padding:0;}
.x_wrap em{height:5vw; /* background-position:right; */background:url('../../images/main/x_linefix_t.png');background-size:100%;background-position:50% 50%;}


/* section02 - tab */
.section02 > .inner_sol{padding: 0;}
.section02 .inner_sol .tit{padding-top: 0;}
.section02 .se02_dots_outer{margin:40px auto;text-align:center;display:block;}
.section02 .inner_sol .product_list.tabmo_show{margin-top:30px;}
.section02 .se02_dots_outer li {display:inline-block;background:none;}
.section02 .se02_dots_outer li button{display:block;width:33px;height:33px;border-radius:50%;position:relative;text-indent:-99999px;background:none;border:0;box-sizing:border-box;margin:0 6.5px;}
.section02 .se02_dots_outer li button:after{content: '';display: block;width: 5px;height: 5px;margin-top: -3px;margin-left: -2px;background: #d9d9d9;border-radius: 50%;   position: absolute;top: 50%;left: 50%;}
.section02 .se02_dots_outer li.slick-active button{border:1px solid #000;}
.section02 .se02_dots_outer li.slick-active button:after {background:#000;}

.section02 .inner_sol .product_list.pc_show{display:none !important;}
.section02 .inner_sol .product_list li{transform: scale(0.9);opacity:0.6;margin:4vw 3vw;transition: all .2s ease-in-out;width: 40vw;}
.section02 .inner_sol .product_list li.slick-active{opacity:1;transform: scale(1.1);}
.section02 .inner_sol .product_list li.slick-active a{}
.section02 .inner_sol .product_list li.slick-active .img .payment_box{bottom:0;}

.section02 .inner_sol .product_list li .img{overflow:hidden;border:1px solid #3f3f3f;}
.section02 .inner_sol .product_list li .img img{margin:0 auto 60px;width:70%;}
.section02 .inner_sol .product_list li .con{padding-bottom:65px;}
.section02 .inner_sol .product_list li .con .product_tit{text-align:center;}
.section02 .inner_sol .product_list li .con .product_price{text-align:center;}
.section02 .inner_sol .btn_viewmore_01{margin-top:40px;}


/* subbanner - tab */
.subbanner .subbanner_slider .subbanner_item01{display:block;}
.subbanner .banner_centrol{display:none;}
.subbanner .sub_banner_arrow{width:5vw;height:8vw;}
.subbanner .sub_banner_arrow em{width:5vw;height:8vw;}
.subbanner .sub_banner_arrow.prev em, .subbanner .sub_banner_arrow.next em{background-size:contain;}
.subbanner .sub_banner_arrow.prev{left:60px;}
.subbanner .sub_banner_arrow.next{right:60px;}
.subbanner .subbanner_slider .subbanner_item .imgbox{width:100%;}
.subbanner .subbanner_slider .subbanner_item .imgbox img{display:block;text-align:center;margin:0 auto;width:60%;}
.subbanner .subbanner_slider .subbanner_item .txtbox{width:100%;margin:50px auto 0;text-align:center;}



/* addsection - tab */
.addsection01 .inner_sol.tabmo_show ul{}
.addsection01 .inner_sol.tabmo_show ul > li a{display:block;position:relative;}
.addsection01 .inner_sol.tabmo_show ul > li + li{margin-top: 30px;}
.addsection01 .inner_sol.tabmo_show ul > li a .title{position:absolute;top:5vw;left:5vw;font-size:5vw;color:#fff;}
.addsection01 .inner_sol.tabmo_show ul > li a img{width:100%;}



/* addsection02 - tab */
.addsection02{height:100%;}
.addsection02 iframe{min-height:50vh;}


/* section03, section04 - tab */
/*.section03, .section04{margin-top: 30px;}
.section04:before{content:'';display:block;position:absolute;z-index:-1;width:100%;height:100%;background:#e8e8e8;margin-top:-34%;}
.section .bg{padding: 0 60px;box-sizing:border-box;}
.section03 .inner_sol, .section04 .inner_sol{transform:none;left:inherit;right:0;bottom:0;display:block;height:auto;}
.section03 .inner_sol .btn_viewmore_02, .section04 .inner_sol .btn_viewmore_02{margin-bottom:0;margin-left: calc(100% - 245px);}*/

/* section05 - tab */
.section05{padding: 100px 0 110px;background-size: cover;background-repeat: no-repeat;}
.section05 > .inner_sol{padding: 0;}
.section05 .slide .sec05_sl_outer.tabmo_show{width:100%;}
.section05 .slide .sec05_sl_outer.tabmo_show li{display:inline-block;width:42.215vw !important;margin: 0 1vw;}
.section05 .slide .sec05_sl_outer li a{width:100%;}
.section05 .slide .sec05_sl_outer li{padding:0;}
.section05 .slide .sec05_sl_outer li a img{max-width:100%;width:100%;height:100%;object-fit: cover;}

.section05 .sns_linkwrap{width:100%;display:block;margin:40px auto 0;text-align:center;}
.section05 .sns_linkwrap > span, .section05 .sns_linkwrap > span:after{display:block;}
.section05 .sns_linkwrap > span:after{margin:33px auto;width:1px;height:44px;}
.section05 .sns_linkwrap > ul{display:flex;justify-content:center;}

.section05 .section05_slide_arrow{width:61.5px;height:61.5px;}
.section05 .section05_slide_arrow.prev{left:60px;}
.section05 .section05_slide_arrow.next{right:60px;}
.section05 .section05_slide_arrow em{width:61.5px;height:61.5px;border-radius:50%;}
.section05 .section05_slide_arrow.prev em{background:url('../../images/main/section05_prev.png') center no-repeat rgba(0,0,0,0.6);background-size:25% !important;}
.section05 .section05_slide_arrow.next em{background:url('../../images/main/section05_next.png') center no-repeat rgba(0,0,0,0.6);background-size:25% !important;}
}



@media screen and (max-width:720px) {
/* section01 - mo */
.main_banner li.slick-slide{padding-top:65px;}
.main_banner li.slick-slide .inner_sol .textbox .tit{font-size:10vw;line-height:9vw;}
.main_banner li.slick-slide .inner_sol .textbox .sub{font-size:5vw;line-height:6vw;}
.main_banner li.slick-slide .inner_sol .textbox .bar{margin: 10px auto;}

.main_banner li.mb_item01{background:url('../../images/main/main_banner01_t_fix.jpg');background-size:cover;background-position:center;}
.main_banner li.mb_item02{background:url('../../images/main/main_banner01_t_fix.jpg');background-size:cover;background-position:center;}
.main_banner li.mb_item03{background:url('../../images/main/main_banner01_t_fix.jpg');background-size:cover;background-position:center;}

/* section02 - mo */
.section02 .inner_sol .product_list li{width:54vw;margin: 5vw 3vw;}
.section02 .inner_sol .product_list li .img{padding:50px 0 50px;}
.section02 .inner_sol .product_list li .img img{width:80%;margin: 0 auto 50px;}
.section02 .inner_sol .product_list li .img .payment_box .btn_cart, .section02 .inner_sol .product_list li .img .payment_box .btn_card{height:10vw;}
.section02 .inner_sol .product_list li .img .payment_box > em{margin-top: 2.7vw;height: 5vw;}
.section02 .inner_sol .product_list li .img .payment_box .btn_cart em, .section02 .inner_sol .product_list li .img .payment_box .btn_card em{width: 24px;height: 25px;background-size: 100%;background-repeat: no-repeat;
background-position: center;}


.section02 .inner_sol .product_list li .con{padding-bottom:0;padding-top:20px;}
.section02 .inner_sol .product_list li .con .product_tit{font-size:3.5vw;}
.section02 .inner_sol .product_list li .con .product_price .percent, .section02 .inner_sol .product_list li .con .product_price .price{font-size:3.5vw;}
.section02 .inner_sol .product_list li .con .product_price .unit{font-size:3vw;}
.section02 .inner_sol .product_list li .con .product_price .percent:after, .section02 .inner_sol .product_list li .con .product_price .unit:before{margin: 0 1vw;height:2vw;}

/* .stiker em{width:19px;height:19px;}
.sti_best:after{content:'B';font-size:11px;margin-top:1px;}
.sti_new:after{content:'N';font-size:11px;margin-top:1px;} */


.section02 .se02_dots_outer{margin:20px 0;}
.section02 .se02_dots_outer li button{width: 20px;height:20px;margin:0;padding:0;}
.section02 .se02_dots_outer li button:after{}
.section02 .inner_sol .btn_viewmore_01{margin-top:0;}



/* subbanner - mo */
.subbanner .sub_banner_arrow.prev{left:20px;}
.subbanner .sub_banner_arrow.next{right:20px;}
.subbanner .subbanner_slider .subbanner_item .txtbox{margin:5vw auto 0;}
.subbanner .subbanner_slider .subbanner_item .txtbox .subtxt{font-size:2.5vw;}
.subbanner .subbanner_slider .subbanner_item .txtbox .maintxt{font-size:5vw;padding-top:2vw;}
.subbanner .subbanner_slider .subbanner_item .txtbox .contentbox{padding-top:2vw;}
.subbanner .subbanner_slider .subbanner_item .txtbox .contentbox li{font-size:2.5vw;padding-bottom:1vw;}





/* section03, section04 - mo */
.section .bg{padding: 0 20px;}
.section03 .inner_sol .btn_viewmore_02, .section04 .inner_sol .btn_viewmore_02{margin-left:calc(100% - 40vw);padding: 0 0 0 10vw;}

/* section05 */
.section05 .section05_slide_arrow{width:8.33vw;height:8.33vw;}
.section05 .section05_slide_arrow em{width:8.33vw;height:8.33vw;}
.section05 .section05_slide_arrow.prev{left:20px;}
.section05 .section05_slide_arrow.next{right:20px;}
}

@media screen and (max-width:500px) {
/* section01 - mo */
.section02 .inner_sol .product_list li{width:50vw;}
}